extends layout

block content
	div.app-display
		div.app-display-head
			img(src='/images/logo-min.png' alt='logo')
			div.word-list
						span.tips Word list
						select#word-list classic
							optgroup(label='Common')
								option(value='popular') Popular words
								option(value='capitals') Capitals
								option(value='animals') Animals
			div.registration
				span.tips Keep track of your progress
				div.reg-buttons
					button#login Log in
					button#reg-button Create account
		div.app-display-discr
			p MyEngApp  is a fast-paced word game that challenges your vocabulary, tests your typing skills and stimulates your mind.
			p When the game begins you'll be given the definition of a word and the letter that it starts with. The timer will start counting down as soon as the game starts. The game will end when you run out of time or answer all of the words in the list.
			p If you guess a word correctly, you'll earn points and add some extra time to the clock. If you can't think of the word, hit the  
				strong skip button 
				| to move on to the next word at the cost of a few points.
			p Select a word list and a difficult to get started!
		div.app-display-options
			form(action="")
				div.options-values
					div.game-mode
						span.tips Game mode
						select#game-mode
							option(value='practice') Practice
							option(value='challenge') Challenge
					div.difficulty
						span.tips Difficulty
						select#difficulty
							option(value='easy') Easy
							option(value='normal') Normal
							option(value='hard') Hard
				div.options-startbutton
					button#start start game
